./vscode
.vscode

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

/generated/prisma

.github/workflows/.test

github_pages
.continue

portfolio_db.sql
.pi
client_secret_734544827060-tcjfaj1e060laf4ggmcjk5k63k00n0gh.apps.googleusercontent.com.json
.pnpm-store
prisma/schema.prisma.prod
