.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.about img {
    max-width: 300px;
    mask-image: linear-gradient(black 80%, transparent)
}

.overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 30px;

}

.overview em {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: var(--theme-em-gradient);
    color: #0000;
    display: inline;
    font-style: normal !important;
    font-weight: bold !important;
}

.overview > span {
    padding: 5px;
    color: black;
    border-radius: 5px;
}

