.aptitudes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-between;
    border-radius: 5px;
    gap: 7px;
    transition: 250ms;
}
.imgtext {
    display: flex;
    color: black;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 7px;
    width: 100px;
    height: 100px;
    transition: 250ms;
}
.imgtext > img {
    filter: drop-shadow(3px 3px 4px black);
    width: 75px;
    object-fit: cover;
}