.overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 30px;

}

body {
    --theme-section-bg-lightgrad: linear-gradient(103deg,#f5f6ff 10%,#dff4fb);
    --theme-em-gradient: linear-gradient(90deg,#7209d4,#2832d4 33%,#00a5b2);
    --theme-em-gradient-pink: linear-gradient(90deg,#ed7077,#9a34e7 66%);
}

.overview em {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: var(--theme-em-gradient);
    color: #0000;
    display: inline;
    font-style: normal !important;
    font-weight: bold !important;
}

.overview > span {
    padding: 5px;
    color: black;
    border-radius: 5px;
}