html {
    scroll-behavior: smooth;
}
body {
    font-family: "Nunito Sans", sans-serif;
    --theme-section-bg-lightgrad: linear-gradient(103deg,#f5f6ff 10%,#dff4fb);
    --theme-em-gradient: linear-gradient(90deg,#7209d4,#2832d4 33%,#00a5b2);
    --theme-em-gradient-pink: linear-gradient(90deg,#ed7077,#9a34e7 66%);
    --theme-button-gradient-gray: linear-gradient(135deg, lightgray 5%, white);
    background-image: var(--theme-section-bg-lightgrad);
    color: black
}
.navbar {
    position: fixed;
    place-items: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 50;
    gap: 10px;
    height: 5%;
}

ul > h2 {
    margin-top: 1px;
    margin-bottom: 1px;
    filter: drop-shadow(2px 2px 2px white);
}
.navbar > ul {
    list-style-type: none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(0,0,0, 0.5);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

li > a {
    text-decoration: none;
    color: white;
    transition: 250ms;
}
li > a:hover {
    background-color: rgba(255,255,255,0.2);
    padding: 5px;
    border-radius: 5px;
}


h2 {
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    color: #0000;
    font-style: normal !important;
    font-weight: bold !important;
    background-image: var(--theme-em-gradient-pink);
}

input[type=text], input[type=password], input[type=date], textarea, select {
    padding: 5px;
    border-radius: 5px;
    border: none
}

.mainfooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

p {
    text-indent: 30px;
}

section {
    view-timeline-name: --reveal;

    animation-name: show;
    animation-fill-mode: both;

    animation-timeline: --reveal;
    animation-range: entry 25% cover 11.5%;
}
.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}


.overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 30px;

}

.overview em {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: var(--theme-em-gradient);
    color: #0000;
    display: inline;
    font-style: normal !important;
    font-weight: bold !important;
}

.overview > span {
    padding: 5px;
    color: black;
    border-radius: 5px;
}

.about img {
    max-width: 350px;
    mask-image: linear-gradient(black 70%, transparent)
}

div.perfil {
    max-width: 350px;
    max-height: 350px;
}

span.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

img#flag {
    position: relative;
    z-index: -10;
    width: 300px;
    height: 300px;
    bottom: 290px;
    left: 20px;
    place-items: center;
    border: solid 1px transparent;
    border-radius: 50%;
    mask-image: linear-gradient(360deg, black 10%, transparent)
}
.aptitudes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-between;
    border-radius: 5px;
    gap: 7px;
    transition: 250ms;
}
.imgtext {
    display: flex;
    color: black;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 7px;
    width: 100px;
    height: 100px;
    transition: 250ms;
}
.imgtext > img {
    filter: drop-shadow(3px 3px 4px black);
    width: 75px;
    object-fit: cover;
}

.proyectos .skills {
    filter: none;
    background-color: gray;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.redes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5px;
}

input[type="submit"] {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

.redes img {
    width: 100px;
    max-height: 100px;
    object-fit: cover;
}

.redes .card, .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    border-radius: 5px; 
    background-color: white;

    transition: 250ms;
}
.card:hover {
    box-shadow: none;
    box-shadow: -2px -2px 2px black;
    background-image: var(--theme-button-gradient-gray);
    padding-left: 7px;
    padding-top: 7px;
    padding-bottom: 3px;
    padding-right: 3px;
}

fieldset {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: fit-content;
}
.proyectos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    gap: 10px;
}

article {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    border-radius: 5px;
    gap: 10px;
    padding: 5px;
    max-width: 300px;
}

.proyectos article img {
    width: 50px;
    filter: drop-shadow(3px 3px 4px black);
}

article .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}

.certificados {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
}

.certificados > article {
    text-align: center;
}
.certificados img {
    width: 150px;
}

.resume > a {
    color: black;
    text-decoration: none;
}

@media (min-width: 600px) {
    section {
        animation-range: entry 25% cover 13%;
    }
    #certificados form, #certificados fieldset, #proyectos form, #proyectos fieldset {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5px;
        flex-wrap: wrap;
    }
}
@media (min-width: 900px) {
    section {
        animation-range: entry 25% cover 22%;
    }
}

@keyframes show {
    from {
        opacity: 0; scale: 10%
    }

    to {
        opacity: 1; scale: 100%
    }
}